section {
    text-align: justify;
    display: flex;
    background-image: url(developer.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
}

h2 {
    font-size: 40px;
    padding-left: 200px;
    margin-top: 40px;
}

.rrr {
    font-size: 70px;
    padding-left: 200px;
    margin-bottom: -20px;
    margin-top: -10px;
}

.bbb {
    font-size: 70px;
    padding-left: 200px;
    margin-top: 10px;

}

.pas {
    padding-left: 200px;
    margin-top: -30px;
}

.cv {
    text-decoration: none;
    background-color: aqua;
    cursor: pointer;
    margin-left: 250px;
    padding: 10px 40px;
    border-radius: 10px;
}

.img-bg {
    padding-top: 100px;
    padding-left: 100px;
}

.bio {
    background-color: rgba(252, 235, 230, 0.577);
    border-radius: 10px;
    margin: 100px;
    padding: 100px;
    text-align: center;

}

.about {
    margin-top: -20px;
    text-align: center;
}


.info {
    display: flex;
    color: grey;
}

.info h4 {
    margin-left: 100px;
}

.info h4 strong {
    display: block;
    font-size: 20px;
    color: black;

}

p {

    font-size: 30px;

}